header
  section
    nav
      ul
        li
          a(href='#about') About
        li 
          a(href='#highlights') Highlights

  section#about
    img#avatar
    h1 Pedro Fernandes
    p
      strong Software Engineer.
    p Brazilian, based in <strong>Berlin</strong>, working at <strong>Hexad GmbH</strong>.
    p Full-stack development, AI and Deep Learning enthusiast, full-time learner.

    nav
      ul
        li
          a(href='https://github.com/pedrobfernandes' target='_blank') GitHub
        li
          a(href='https://medium.com/@pedroaliens' target='_blank') Blog
        li
          a(href='https://www.linkedin.com/in/pedrofernandes2048/' target='_blank') LinkedIn
        li
          a(href='https://www.kaggle.com/pedroaliens' target='_blank') Kaggle