section#highlights
  h3 Articles
  ul
    li
      a(href='https://medium.com/@pedroaliens/gpt-3-the-end-of-the-software-developers-8b06fdd7dc79' target='_blank')
        | GPT-3, the end of the software developers?
      br
      small 31 July 2020