<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Pedro Fernandes - Software Engineer
    meta(name="description", content="Pedro Fernandes | Software engineer")
    meta(name="og:description", content="Pedro Fernandes | Software engineer")
    meta(name="keywords", content="pedro fernandes, software engineer, software developer, artificial intelligence, machine learning, deep learning")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:creator", content="PedrooFernandes")
    meta(name="twitter:description", content="Pedro Fernandes | Software engineer")
  body
    include sections/_head.pug
    hr
    include sections/_highlights.pug